<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>fragment: board-list</title>
</head>
<body>
    <tr th:fragment="boardList" th:each="board : ${boardPage}">
        <td style="font-size: 0.875rem; vertical-align: middle; text-align: center;" th:text="${board.id}"></td>
        <td style="font-size: 0.875rem; vertical-align: middle;"><a th:href="@{|/boards/${board.id}|}" th:text="|${board.title} [${board.replies.size()}]|"></a></td>
        <td style="font-size: 0.875rem; vertical-align: middle; text-align: center;" th:text="${board.user.username}"></td>
        <td style="font-size: 0.4375rem; vertical-align: middle; text-align: center;" th:text="${#dates.format(board.createdTime, 'yyyy MM-dd')}"></td>
        <!-- th에서 <br> 태그 사용하기 -->
<!--        <td style="font-size: 0.4375rem; text-align: center;" th:inline="text">-->
<!--            [[${#dates.format(board.createdTime, 'yyyy')}]]<br>[[${#dates.format(board.createdTime, 'MM-dd')}]]-->
<!--        </td>-->
        <td style="font-size: 0.875rem; text-align: center;" th:text="${board.hits}"></td>
    </tr>
</body>
</html>


