<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>fragment: board-list</title>
</head>
<body>
    <tr th:fragment="boardList" th:each="board : ${boardPage}">
        <td style="font-size: 0.875rem; text-align: center;" th:text="${board.id}"></td>
        <td style="font-size: 0.875rem;"><a th:href="@{|/boards/${board.id}|}" th:text="${board.title}"></a></td>
        <td style="font-size: 0.875rem; text-align: center;" th:text="${board.user.username}"></td>
        <td style="font-size: 0.875rem; text-align: center;" th:text="${#dates.format(board.createdTime, 'yyyy-MM-dd')}"></td>
        <td style="font-size: 0.875rem; text-align: center;" th:text="${board.hits}"></td>
    </tr>
</body>
</html>


