<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/default-layout">
<th:block layout:fragment="content">
    <div class="content-body" style="padding: 0.8125rem;">
        <div class="card mt-3 col-md-12 col-lg-4" style="margin: 0 auto; border: none;">
            <h3 style=" font-size: 1.5625rem; font-weight: bold; text-align: left; padding: 0.8125rem;">&#128100; 회원 가입</h3>
            <div class="card shadow mb-4" style="padding: 2.125rem;">
                <div class="input-group mb-3 shadow" style="border-radius: 0.25rem;">
<!--                    <span class="input-group-text justify-content-center" style="width: 35%; min-width: 200px; background-color: transparent;">아이디</span>-->
                    <input type="text" class="form-control" id="username" aria-label="username" style="font-size: 0.875rem;" placeholder="아이디">
                </div>
                <div class="input-group mb-3 shadow" style="border-radius: 0.25rem;">
<!--                    <span class="input-group-text justify-content-center" style="width: 35%; min-width: 200px; background-color: transparent;">비밀번호</span>-->
                    <input type="password" class="form-control" id="password" aria-label="password" style="font-size: 0.875rem;" placeholder="비밀번호">
                </div>
                <div class="input-group mb-3 shadow" style="border-radius: 0.25rem;">
<!--                    <span class="input-group-text justify-content-center" style="width: 35%; min-width: 200px; background-color: transparent;">비밀번호 확인</span>-->
                    <input type="password" class="form-control" id="password2" aria-label="password2" style="font-size: 0.875rem;" placeholder="비밀번호 확인">
                </div>
                <div class="input-group mb-3 shadow" style="border-radius: 0.25rem;">
<!--                    <span class="input-group-text justify-content-center" style="width: 35%; min-width: 200px; background-color: transparent;">이메일</span>-->
                    <input type="email" class="form-control" id="email" aria-label="email" style="font-size: 0.875rem;" placeholder="이메일">
                </div>
            </div>
        </div>
        <div style="text-align: center;">
            <div class="btn-group shadow" role="group" aria-label="Basic example" style="padding: 0.8125rem 0 0 0;">
                <button type="button" onclick="history.back()" class="btn btn-primary" style="font-size: 1rem;">취소</button>
                <button id="btn-register" class="btn btn-primary" style="font-size: 1rem;">확인</button>
            </div>
        </div>
    </div>
    <script src="/js/user.js"></script>
</th:block>
</html>